{% extends 'main/base.html' %}
{% load static %}


{% block title %}
{{course}} Modules
{% endblock title %}

{% block body %}
  <div class="section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="heading_main text_align_center">
              <h2><span>{{ course }}</span> Modules</h2>
            </div>
          </div>
        </div>
        {% for module in modules %}
          <div class="card text_align_center mr-3" style="width: 18rem;">
            <img class="card-img-top" src="{{ module.poster_url.url }}" alt="{{ module.title }}" />
            <div class="card-body">
              <h5 class="card-title">{{ module.title }}</h5>
            </div>
            <div class="card-body">
              <a href="{% url 'lessons' module.id %}" class="btn btn-primary">Open</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% comment %} {% for module in modules %}
  <p>
    <a href="{% url 'lessons' module.id %}">{{ module.title }}</a>
  </p>
{% endfor %} {% endcomment %}
