{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{module}} Lessons
{% endblock title %}

{% block body %}

<div class="section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="heading_main text_align_center">
            <h2><span>{{ module }}</span> Lessons</h2>
          </div>
        </div>
      </div>
        {% for lesson in lessons %}
        <div class="card text_align_center mr-3" style="width: 18rem;">
          <img class="card-img-top" src="{{ lesson.poster_url.url }}" alt="{{ lesson.title }}" />
          <div class="card-body">
            <h5 class="card-title">{{ lesson.title }}</h5>
            <p class="card-text">{{ lesson.instructor_notes }}</p>
          </div>
          <div class="card-body">
            <a href="{% url 'lesson' lesson.id %}" class="btn btn-primary">Open</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
