{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
  <div class="section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="heading_main text_align_center">
              <h2><span>Reset</span> Password</h2>
            </div>
          </div>
        </div>
        <p>
          Please enter your new password twice so we can verify you typed it in correctly.
        </p>
      </div>

      <div class="row">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="Submit" name="Send Email" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
