{% extends 'main/base.html' %}
{% load static %}

{% block body %}
  <div class="section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="heading_main text_align_center">
              <h2><span>Reset</span> Password</h2>
            </div>
          </div>
        </div>
        <p>
          We have emailed you the reset password link. Check your email for the message
        </p>
        <p>
            If you have not received an email, please make sure you have entered the address you registered with and check your spam folder
        </p>
      </div>
    </div>
  </div>
{% endblock %}
