{% extends 'main/base.html' %}
{% load static %}

{% block body %}
  <div class="section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="heading_main text_align_center">
              <h2><span>Reset</span> Password Complete</h2>
            </div>
          </div>
        </div>
        <p>Your Password has been reset. You may go ahead and login</p>
      </div>
      <div class="row">
        <p>
          <a href="{% url 'signin' %}">Log in</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
